<section class="food-search-bar" fxLayout="column" fxLayoutGap="0.2rem">
    <label>Enter a food item</label>
    <article fxLayout="row" fxLayoutGap="2rem">
        <p-autoComplete class="food-search-bar__text-field"
            [(ngModel)]="searchText"
            [suggestions]="foodItemNamesList"
            (completeMethod)="handleAutocomplete()"
        ></p-autoComplete>
        <p-button label="Search"
            class="food-search-bar__search-button"
            [loading]="isLoading"
            (onClick)="handleSearch()">
        </p-button>
    </article>
</section>
