::ng-deep {
    .p-button {
        background-color: black;
        color: white;
        outline: none;
        border: none;
    }

    .p-button:hover {
        background-color: darkgray;
        outline: none;
        border: none;
    }

    .p-button:enabled:hover {
        background-color: darkgray;
        outline: none;
        border: none;
    }

    .p-button:enabled:active {
        background-color: darkgray;
        outline: none;
        border: none;
    }

    .p-button:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.container {
    margin: 0 2rem;
    margin-bottom: 2rem;

    &__text-field {
        height: 100%;
        width: 100%;
        text-transform: capitalize;
    }
}