.container {
    margin: 0 2rem;
    margin-bottom: 2rem;

    &__text-field {
        height: 2rem;
        width: 100%;
        padding: 0 0.5rem;
        text-transform: capitalize;
    }

    &__search-button {
        background: black;
        color: white;
        font-weight: bold;

        &--hover {
            background-color: darkgray;
        }
    }
}