.recommendation-overlay {
    &__paragraph {
        margin: 0;
    }
        
    &__text-field {
        max-width: 20rem;
        margin: auto;
        text-align: center;
        text-transform: capitalize;
        font-size: larger;
    }

    &__map-container {
        margin-top: 2rem;
    }

    &__autocomplete {
        width: 20rem;
        height: 100%;
    }

    &__autocomplete-restaurant-address {
        font-size: small;
        margin-top: 0.3rem;
    }

    &__map {
        width: 30rem;
        height: 18rem;
    }
}