<section class="sidebar" fxLayout="column">
    <app-food-search-bar (onSearch)="handleSearch($event)"></app-food-search-bar>
    <app-restaurant-list [restaurantList]="restaurantList"></app-restaurant-list>
    <article class="sidebar__footer" fxLayout="row" fxLayoutAlign="space-between">
        <div class="sidebar__location">{{ mapService.currentCity }}</div>
        <p-button label="Make a Recommendation"
            class="sidebar__recommendation-button"
            (onClick)="handleShowRecommendationPanel()">
        </p-button>
    </article>
</section>
